h1{
    margin-left: 500px;
    margin-top: 50px;
    text-transform: capitalize;
}
.naveen{
    margin-top: 100px;
    margin-left: 500px;
}.naveen2{
margin-left: 500px;
margin-top:100px ;
color: red;
text-transform: capitalize;
}
