body{
    background-color:rgb(0,0,0);   
}
.naveen{
    cursor: pointer;
    margin-top:150px;
    margin-left: 270px;   
}

.naveen1
{
    margin-top:30px ;
    margin-left: 120px;   
}

.naveen2
{
background-color:white;
margin-top: 220;
margin-left: 450;

margin-bottom: 500;
margin-right: 250;
height: 300;
width:400px;
}

